{% extends 'base.html' %}
{% block titulo %} Registro de miembros {% endblock %}
{% block contenido %}

<br>
<div class="card ">
    <div class="card-header text-center">
        <h5>Datos Personales</h5>
    </div>
    <form class="row g-3">
    <div class="col-md-3">
      <label for="cedula" class="form-label">Cédula</label>
      <input type="text" class="form-control" name="cedula" id="cedula" placeholder="999-999999-9999A" required>
      
    </div>
    <div class="col-md-3">
      <label for="nombres" class="form-label">Nombres</label>
      <input type="text" class="form-control" name="nombre" id="nombres" required>
    </div>
    <div class="col-md-3">
      <label for="apellidos" class="form-label">Apellidos</label>
      <input type="text" class="form-control" name="apellidos" id="apellidos" required>
    </div>
    <div class="col-md-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="correo@correo.com" required>
        <p class="formulario_input-error">El correo electrónico solo puede contener letras, numeros, puntos, guiones y guion bajo. </p>
    </div>
    <div class="col-md-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <input type="text" class="form-control" name="telefono" data-mask="(505) 0000-0000" placeholder="(505) 9999-9999" required>
        <p class="formulario_input-error">El teléfono solo puede contener números y el máximo de 8 digitos. </p>
    </div>
    <div class="col-md-3">
        <label for="direccion" class="form-label">Dirección</label>
        <input type="text" class="form-control" name="direccion" id="direccion" required>
    </div>
    <div class="col-md-3">
        <label for="ciudad" class="form-label">Ciudad</label>
        <input type="text" class="form-control" name="ciudad" id="ciudad" required>
        <div class="invalid-feedback">
          Por favor, agregar una ciudad válida.
        </div>
    </div>
    <div class="col-md-3">
        <label for="departamento" class="form-label">Departamento</label>
        <select class="form-select" id="validationDefault04" required>
          <option Seleccione un elemento de la lista="">Elige...</option>
          <option>Chontales</option>
          <option>Managua</option>
          <option>Masaya</option>
          <option>Granada</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="nivelacademico" class="form-label">Nivel Académico</label>
        <select class="form-select" name="nivelacademico" id="nivelacademico" required>
          <option Seleccione un elemento de la lista="">Elige...</option>
          <option>Universidad</option>
          <option>Bachiller</option>
          <option>Primaria</option>
          <option>Ninguno</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="profesion" class="form-label">Profesión o Oficio</label>
        <input type="text" class="form-control" name="profesion" id="profesion" required>
      </div>
      <div class="col-md-3">
        <label for="estadocivil" class="form-laber">Estado Civil</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="estadocivil" id="estadocivil" checked required>
            <label class="form-check-label" for="estadocivil">
              Casado(a)
            </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="estadocivil" id="estadocivil">
          <label class="form-check-label" for="estadocivil">
              Soltero(a)
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <label for="">Sexo</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sexo" id="sexo" checked required>
            <label class="form-check-label" for="sexo">
              Masculino
            </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sexo" id="sexo">
          <label class="form-check-label" for="sexo">
              Femenino
          </label>
        </div>
      </div>
      <div class="col-md-12">
        <label for="foto" class="form-label">Subir Fotografia</label>
        <input type="file" class="form-control" name="foto" id="foto">
      </div>
      <div class="card-header text-center">
        <h5> Datos Ministerial</h5>
      </div>
      <div class="col-md-3">
        <label for="fechaaceptacion">Fecha de aceptación</label>
        <input type="date" name="fechaaceptacion" id="fechaaceptacion">
      </div>
      <div class="col-md-3">
        <label for="">Tipo de Bautismo</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="tipobautismo" id="tipobautismo" checked>
            <label class="form-check-label" for="tipobautismo">
              En Agua
            </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="tipobautismo" id="tipobautismo">
          <label class="form-check-label" for="tipobautismo">
              En Espiritu
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <label for="">Fecha de Bautismo en Agua</label>
        <input type="date" name="fechabautismo" id="fechabautismo">
      </div>
      <div class="col-md-3">
        <label for="grupo" class="form-label">Grupo Familiar</label>
        <select class="form-select" name="grupo" id="grupo" required>
          <option Seleccione un elemento de la lista="">Elige...</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="nombrecampos" class="form-label">Nombre de Campos</label>
        <select class="form-select" id="nombrecampos" required>
          <option Seleccione un elemento de la lista="">Elige...</option>
          <option>Juigalpa</option>
          <option>Villa Sandino</option>
          <option>Cuapa</option>
          <option>El Acetunal</option>
          <option>La Palma</option>
          <option>El Jobito</option>
          <option>El Silencio</option>
          <option>La Piedra Pintada</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="ministerio" class="form-label">Ministerio</label>
        <select class="form-select" name="ministerio" id="ministerio" required>
          <option Seleccione un elemento de la lista="">Elige...</option>
          <option>Juigalpa</option>
          <option>Villa Sandino</option>
          <option>Cuapa</option>
          <option>El Acetunal</option>
          <option>La Palma</option>
          <option>El Jobito</option>
          <option>El Silencio</option>
          <option>La Piedra Pintada</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="validationDefault04" class="form-label">Cargo Ministerio</label>
        <select class="form-select" id="validationDefault04" required>
          <option Seleccione un elemento de la lista="">Elige...</option>
          <option>Presidente(a)</option>
          <option>Secretario(a)</option>
          <option>Cuapa</option>
          <option>El Acetunal</option>
          <option>La Palma</option>
          <option>El Jobito</option>
          <option>El Silencio</option>
          <option>La Piedra Pintada</option>
        </select>
      </div>
    </div>
    <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-outline-primary " type="submit"><i class="bi bi-save-fill"></i> Guardar...</button>
    </div>
    <br>
  </div>
</form>
{% endblock %}