{% extends 'base.html' %}

{% block titulo %}Pagina de registros {% endblock %}

{% block contenido %} 
<br>
<h2>Registro de miembros</h2>
<a href="#" class="btn btn-success" role="button">Agregar Miembro</a>
<br>
<br>
<table id="customers">
    <tr>
      <th>Cédula</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Email</th>
      <th>Actiones</th>
    </tr>
    <tr>
      <td>North/South</td>
      <td>Simon Crowther</td>
      <td>UK</td>
      <td>UK</td>
      <td>
        <a href="#" class="btn btn-primary" role="button">Editar</a>
        <a href="#" class="btn btn-danger" role="button">Eliminar</a>
      </td>
    </tr>
  </table>
  

<style>
    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    
    #customers tr:hover {background-color: #ddd;}
    
    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04AA6D;
      color: white;
    }

{% endblock %}